@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: #333;
}

/* modal */
.modal{
  width: 100%; height: 100%;
  position: fixed; left:0; top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: none;
}
.modal .modal_inner{
  width: 700px; height: 600px;
  background:  #fff;
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding: 30px;
}
.modal .modal_inner button{
  width: 50px; height: 30px;
  color: #fff; border: 0; cursor: pointer;
}

/* layout */
.wrap {
  width: 1200px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

header h1 {}

header nav {
  width: 60%;
  /* background: lavender; */
  margin-top: 30px;
  margin-right: 20px;
}

header nav ul.gnb {
  display: flex;
  text-align: center;
  color: #fff;
}

header nav ul.gnb>li {
  flex: 1;
  position: relative;
}

header nav ul.gnb>li>a {
  display: block;
  width: 100%;
  height: 50px;
  background: #ff8c00;
  line-height: 50px;
}

header nav ul.gnb>li:hover>a {
  background: #1b4f60;
}

header nav ul.gnb>li>ul.sub {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  display: none;
}

/* header nav ul.gnb>li:hover>ul.sub {
  display: block;
} */

header nav ul.gnb>li>ul.sub>li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #ff8c00;
}

header nav ul.gnb>li>ul.sub>li:hover {
  background: #1b4f60;
}

header nav ul.gnb>li>ul.sub>li>a {
  display: block;
}

.main_visual {
  width: 100%;
  height: 300px;
  background: #bbb;
  position: relative;
}

.main_visual ul {}

.main_visual ul li {
  position: absolute;
  left: 0;
  top: 0;
}

.contents {
  width: 100%;
  height: 200px;
  display: flex;
}

.contents article {
  flex: 1;
}

.contents article h2 {
  font-size: 18px;
  font-weight: normal;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-bottom: 1px dotted #ccc;
}

.contents article.con1 {
  position: relative;
}

.contents article.con1 section {}

.contents article.con1 section h3 {
  width: 100px;
  height: 36px;
  background: #ccc;
  text-align: center;
  line-height: 36px;
  border-radius: 20px;
  font-weight: normal;
  font-size: 18px;
  float: left;
  cursor: pointer;
}

.contents article.con1 section.on h3 {
  background: #ff8c00;
  color: #fff;
}

.contents article.con1 section ul {
  position: absolute;
  left: 0;
  top: 36px;
  display: none;
  width: 100%;
  height: 164px;
  padding: 5px 0;
}

.contents article.con1 section.on ul {
  display: flex;
}

.contents article.con1 section.notice ul {
  flex-direction: column;

}

.contents article.con1 section.notice ul li {
  flex: 1;
  border-bottom: 1px dotted #ccc;
}

.contents article.con1 section.notice ul li a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.contents article.con1 section.notice ul li:hover a {
  background: #ff8c00;
  color: #fff;

}

.contents article.con1 section.gal ul {
  justify-content: space-evenly;
  align-items: center;
}

.contents article.con1 section.gal ul li:hover {
  opacity: 0.7;
}

.contents article.con2 {
  border-left: 1px dotted #ccc;
  border-right: 1px dotted #ccc;
}

.contents article.con2 ul {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.contents article.con3 ul {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer {
  width: 100%;
  height: 100px;
  display: flex;
  border: 1px dotted #ccc;
  overflow: hidden;
}

footer .f_right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer .f_right .f_menu {
  flex: 1;
}

footer .f_right .f_menu ul {
  display: flex;
  height: 100%;
  text-align: center;
  align-items: center;
}

footer .f_right .f_menu ul li {
  border-right: 1px dotted #ccc;
  flex: 1;
}

footer .f_right .f_menu ul li:last-child {
  border-right: 0;
}

footer .f_right .copy {
  flex: 1.2;
/*   background: yellow; */
  display: flex;
  align-items: center; justify-content: center;
}