@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Black+Han+Sans&family=Nanum+Pen+Script&display=swap');

.w_font1 {
    font-family: "Black Han Sans", serif;
    font-size: 50px;
}

.w_font2 {
    font-family: "Nanum Pen Script", serif;
    font-size: 20px;
}

.w_font3 {
    font-family: "Bagel Fat One", serif;
    font-size: 100px;
}