@charset "utf-8";
.container{
        border: 1px solid red; 
        width: 500px; 
        text-align: center;
        font-weight: bold;
        }
        h2{font-style:18px; color: blue;}
        strong{color: blueviolet;}
        p.small_1{font-weight: normal; font-size: 0.8em; color: gray;}
        