@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
.clear::after{
    content: '';
    display: block;
    clear: both;
}/* 가상선택자 : 콘텐츠 에 내용?이 없어서 푸터가 올라감 그래서 활용, 부모에서 물려받도록 함*/

/* layout */
.wrap {
    width: 1080px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 100px;
    background: red;
}

.header h1 {
    width: 150px;
    height: 80px;
    background: pink;
    float: left;
    margin-top: 10px;
}

.header h1 a {
    display: block;
    text-align: center;
    line-height: 80px;
}

.header .nav {
    width: 60%;
    float: right;
}

.header .nav ul {}

.header .nav ul li {
    float: left;
    width: 25%;
    text-align: center;
    line-height: 40px;
    margin-top: 30px;
    background: #fff;
    border-left: 1px solid #000;
    box-sizing: border-box;
}
.header .nav ul li:first-child
{border-left: none;}

.header .nav ul li a 
{
    display: block;
}
/* 모든 영역에 버튼이 잘 먹음 */

.contents {
    background: green;
}

.contents .con1 {
    width: 350px;
    height: 500px;
    background: #aaa;
    float: left;
}
/* 화면 계산 필요 */

.contents .con2 {
    width: 350px;
    height: 500px;
    background: #bbb;
    float: left;
    margin-left: 15px;
}

.contents .con3 {
    width: 350px;
    height: 500px;
    background: #ccc;
    float: right;
}

.footer{/*  */
    width: 100%;
    height: 200px;
    background: blue;
    padding-top: 90px;
    box-sizing: border-box;
}

.footer p{
    font-size: 20px;
    background: palegoldenrod;
    line-height: 1; /* 폰트사이즈의 배수가 됨 */
    text-align: center;
}

/* 구조 작성 후 줄단위 색칠 , 큰거 먼저 색깔하기*/
/* 사이즈 */